.cart {
  &Item {
    &Img {
      flex-shrink: 0;

      &:hover {
        opacity: .8;
      }

      img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 16px;

        @media(max-width: 991px) {
          width: 48px;
          height: 48px;
        }
      }
    }

    .h4 {
      word-break: break-word;

      a {
        &:hover {
          color: var(--blue);
        }
      }
    }

    .productQuantityBtn {
      @media(max-width: 1199px) {
        width: 40px;
        height: 40px;
      }
    }

    .productQuantity input {
      @media(max-width: 1199px) {
        height: 40px;
        width: 56px;
      }
    }
  }

  &List {
    border-radius: 3px;
    border-bottom: 1px solid var(--Gray2, #5C5C5C);
  }

  &Block {
    padding: 30px 40px;
    border: 1px solid var(--Gray, #BCBCBC);
    border-radius: 40px;

    @media(max-width: 991px) {
      border-radius: 20px;
      padding: 20px;
    }
    @media(max-width: 410px){
      padding: 15px;
    }
    .tabs__nav-btn {
      @media(max-width: 410px){
        font-size: 13px;
      }
    }
  }
}

.checkout {
  .formText {
    height: 100px;
  }
}

.cartItemRemove {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-01, rgba(255, 255, 255, 0.10));

  @media(max-width: 1400px) {
    width: 32px;
    height: 32px;
  }

  &:hover {
    svg {
      fill: #fff;
    }
  }

  svg {
    fill: var(--white-06);
    width: 24px;
    height: 24px;

    @media(max-width: 1400px) {
      width: 16px;
      height: 16px;
    }
  }
}

.cartItemAction {
  @media(max-width: 1199px) {
    padding-left: 64px;
  }
}