.cat {
  &List {
    column-gap: 4px;
    row-gap: 10px;

    @media(max-width: 575px) {
      overflow-x: scroll;
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &Item {
    &.active {
      .catLink {
        background-color: var(--blue);
        border-color: var(--blue);
        pointer-events: none;
      }
    }
  }

  &Link {
    color: #fff;
    border-radius: 28px;
    border: 1px solid var(--white-02, rgba(255, 255, 255, 0.20));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    transition: background-color .2s linear, color .2s linear;

    @media(max-width: 575px) {
      white-space: nowrap;
    }

    &:hover {
      background-color: var(--blue);
      border-color: var(--blue);
    }
  }
}