.coop {
  background-color: var(--gray-bckg);
  &Title {
    margin-bottom: 70px;
    @media(max-width: 1400px){
      margin-bottom: 40px;
    }
  }
  &Content {
    padding-left: 20px;
    padding-right: 40px;
    @media(max-width: 991px){
      padding-left: 0;
      padding-right: 0;
    }
  }
  &Block {
    &:not(:last-child){
      margin-bottom: 80px;
      @media(max-width: 1400px){
        margin-bottom: 60px;
      }
      @media(max-width: 991px){
        margin-bottom: 40px;
      }
    }
  }
}