.discount {
  position: relative;
  z-index: 1;
  &._bg-white {
    @include high-tablet {
      background: #e7e7e7;
    }
  }
  &._bg-white-light {
    @include high-tablet {
      background: #e7e5e5;
    }
  }
  &._einxel {
    @include high-tablet {
      padding-bottom: 370px;
    }
  }
  &._winback {
    @include high-tablet {
      background: #4f4d4e;
    }
  }
  &._mystic {
    @include high-tablet {
      background: #dbd5d5;
    }
    @include mobile {
      padding-bottom: 380px;
    }
  }
  @include high-tablet {
    padding: 40px 0px 400px 0px;
    background: linear-gradient(
      90deg,
      #b8b8ba 13.75%,
      #bdbdbd 34.91%,
      #bbbbbd 55.29%,
      #bbbbbd 79.85%,
      #bababc 92.5%,
      #b3b3b3 100%
    );

    &._dermaxel {
      padding: 40px 0px 470px 0px;
    }
    &._offer {
      padding: 40px 0px 380px 0px;
    }
    &._clear {
      background: #00102a;
      @include small-tablet {
        text-align: center;
      }
      @include mobile {
        padding-bottom: 360px;
      }

      .discount__bg {
        @include mobile {
          height: 320px;
        }
      }
    }
  }
  &__body {
    position: relative;
    overflow: hidden;
    padding: 135px 0px 45px 115px;
    min-height: 630px;
    background-color: var(--gray-3);
    z-index: 1;
    @include big-desktop {
      padding-left: 50px;
    }
    @include high-desktop {
      padding: 100px 0px 30px 40px;
      min-height: 505px;
    }
    @include high-tablet {
      background-color: transparent;
      padding: 0 !important;
      position: static;
      min-height: auto;
      overflow: visible;
    }

    &._center {
      display: flex;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &._dermaxel {
      background-color: #a5a5a5;
      @include high-tablet {
        background-color: transparent;
      }
    }
    &._antige {
      background-color: #949494;
      @include high-tablet {
        background-color: transparent;
      }
    }
  }
  &__bg {
    position: absolute;
    height: 100%;
    object-fit: cover;
    object-position: right;
    max-width: none;
    bottom: 0;
    right: 0;
    z-index: -1;
    @include high-desktop {
      width: 1000px;
    }
    @include high-tablet {
      height: 360px;
      width: 100%;
    }

    &._dermaxel {
      @include high-tablet {
        height: 410px;
      }
    }
    &._antige {
      @media (max-width: 1400px) {
        right: -200px;
      }
      @include high-tablet {
        right: 0;
      }
    }
    &._g2 {
      @media (max-width: 1400px) {
        right: -200px;
      }
      @include high-tablet {
        right: 0;
      }
    }
    &._mystic {
      object-position: top right;
      @include mobile {
        height: 320px;
      }
      img {
        object-position: top right;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    max-width: 480px;
    @include high-tablet {
      margin: 0 auto;
    }
    @include mobile {
      padding: 0 20px;
    }

    &._dermaxel {
      max-width: 670px;
      @include big-desktop {
        max-width: 470px;
      }
      @include high-tablet {
        max-width: none;
      }

      .discount__content {
        max-width: none;
      }
    }
    &._antige {
      max-width: 555px;
      @include mobile {
        padding: 0;
      }

      .discount__content {
        max-width: none;
      }
    }
    &._einxel {
      max-width: 520px;
    }
    &._g2 {
      max-width: 555px;
      @include high-desktop {
        max-width: 500px;
      }
      @include mobile {
        padding: 0;
      }

      .discount__content {
        max-width: none;
      }
    }
    &._winback {
      max-width: 570px;
      @include high-desktop {
        max-width: 500px;
      }
      @media (max-width: 420px) {
        padding: 0;
      }

      .discount__content {
        max-width: none;
      }
    }
    &._mystic {
      max-width: 570px;
    }
  }
  &__subtitle {
    color: var(--blue);
  }
  &__title {
    color: black;
    span {
      color: var(--blue);
    }
    @include high-tablet {
      text-align: center;
    }
    @include small-tablet {
      font-size: 20px;
      line-height: 32px;
    }
  }
  &__title-descr {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.56px;
    max-width: 555px;
    @include high-tablet {
      text-align: center;
    }
    @include small-tablet {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.48px;
    }
  }
  &__content {
    max-width: 485px;
    font-size: 20px;
    line-height: 30px;

    &._antige {
      font-size: 24px;
      line-height: 36px;
      @include small-tablet {
        font-size: 20px;
        line-height: 30px;
      }
    }
    &._winback {
      @include small-tablet {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
      }
    }
    &._clear {
      max-width: 555px;
    }
    &._mystic {
      @include small-tablet {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;

        li {
          padding-left: 24px;
          &::before {
            width: 4px;
            height: 4px;
            top: 10px;
            left: 10px;
          }
        }
      }
    }

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    ul {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      li {
        position: relative;
        padding-left: 30px;
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: currentColor;
          top: 12px;
          left: 12px;
        }
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin-left: auto;

    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.24px;
    transition: color 0.2s ease;
    @include hover {
      color: var(--blue);
    }
  }
  &__btn-arrow {
    width: 20px;
    height: 20px;
    fill: var(--blue);
  }
  &__list {
    li {
      position: relative;
      font-size: 20px;
      line-height: 30px;
      padding-left: 30px;
      @include small-tablet {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        padding-left: 24px;
      }

      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        background-color: currentColor;
        border-radius: 50%;
        left: 12px;
        top: 12px;

        @include small-tablet {
          width: 4px;
          height: 4px;
          left: 10px;
          top: 10px;
        }
      }
    }
  }
  &__subcontent {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
    @include small-tablet {
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.24px;
    }
  }
  &__content-min {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    @include small-tablet {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.28px;
    }

    p,
    ul {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    li {
      position: relative;
      padding-left: 24px;
      &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        background-color: currentColor;
        left: 10px;
        top: 10px;
        border-radius: 50%;
      }
    }
  }
}
