.discount-modal {
  max-width: 960px;
  width: 100%;
  &__window {
    position: relative;
    background: #b8b8ba;
    padding: 60px;
    @include small-tablet {
      padding: 20px;
    }
  }
  &__close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
    transition: opacity 0.2s ease;
    @include hover {
      opacity: 0.5;
    }
  }
  &__close-icon {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  &__title {
    max-width: 390px;

    strong {
      color: var(--blue);
    }
  }
  &__content {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
    @include small-tablet {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__rect {
    position: relative;
    padding: 50px 20px;
    border: 1px solid var(--gray2);
    z-index: 1;
    @include small-tablet {
      padding: 20px;
    }
  }
  &__rect-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 490px;
    text-align: center;
    @include high-tablet {
      max-width: none;
      width: 100%;
    }
  }
  &__rect-content {
    font-size: 20px;
    line-height: 30px;
    @include small-tablet {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__term {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.24px;
  }
  &__img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    @include high-tablet {
      display: none;
    }
  }
  &__footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 40px;

    li {
      text-align: center;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.24px;
    }
  }
}
