.fabricator {
  padding: 80px 0px;
  overflow: hidden;
  color: white;
  @include small-tablet {
    padding: 60px 0px;
  }
  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    @include small-tablet {
      margin-bottom: 40px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 40px;
    @include high-tablet {
      flex-direction: column-reverse;
    }
  }
  &__slider {
    flex: 1;
    @include high-tablet {
      flex: none;
      width: 100%;
    }
    .swiper-wrapper {
      flex-wrap: wrap;
      gap: 60px;
      row-gap: 80px;
      @include big-desktop {
        gap: 60px;
      }
      @include high-tablet {
        gap: 0px;
        flex-wrap: nowrap;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 0 1 calc(50% - 30px);
    @include high-tablet {
      flex: none;
    }
  }
  &__item-icon {
    width: 48px;
  }
  &__item-content {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.24px;
  }
  &__article {
    flex: 1;
    @include high-desktop {
      flex: none;
      width: 100%;
    }
  }
  &__video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
    height: 480px;
    @include hover {
      .fabricator__video-btn {
        transform: scale(1.07);
      }
    }
    @include big-desktop {
      height: 400px;
    }
    @include high-desktop {
      height: 360px;
      background-position: top 0 right 0 !important;
    }
    @include small-tablet {
      height: 290px;
      padding-top: 40px;
    }

    .h5 {
      max-width: 255px;
      font-weight: 500;
      text-align: center;
      @include small-tablet {
        max-width: 205px;
      }
    }
  }
  &__video-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.2s ease;
    @include small-tablet {
      width: 75px;
      height: 75px;
    }
  }
  &__video-icon {
    width: 30px;
    transform: translateX(3px);
    @include small-tablet {
      width: 20px;
    }
  }
  &__article-content {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-right: 40px;
    @include mobile {
      padding-right: 0;
      text-align: center;
    }

    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
