.intro-lend {
  color: white;
  overflow: hidden;
  padding-bottom: 85px;
  @include high-tablet {
    padding-bottom: 100px;
  }
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__head-title {
  }
  &__head-content {
    font-size: 24px;
    line-height: 36px;
    @include tablet {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.32px;
    }
  }
  &__subtitle {
    font-weight: 400;
    text-transform: uppercase;
  }
  &__gallery {
    position: relative;
    width: 100%;
    @include high-desktop {
      display: flex;
      justify-content: center;
    }
  }
  &__video {
    position: absolute;
    display: flex;
    align-items: center;
    top: 60px;
    right: 90px;
    @include high-desktop {
      top: auto;
      right: auto;
      bottom: 0;
      transform: translateY(50%);
      align-items: end;
    }
  }
  &__video-rect {
    @include flex-all-center;
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 40px;
    border: 4px solid white;
    flex-shrink: 0;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);

    @include hover {
      .intro-lend__video-btn {
        transform: scale(1.07);
      }
    }
  }
  &__video-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__video-btn {
    @include flex-all-center;
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: transform 0.2s ease;

    img {
      width: 16px;
      transform: translateX(2px);
    }
  }
  &__video-content {
    max-width: 170px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    flex-shrink: 0;
    @include high-desktop {
      color: white;
    }
  }
  &__gallery-img {
    display: block;
    width: 100%;
    height: 560px;
    object-fit: cover;
    @include high-tablet {
      height: 400px;
    }
  }
  &__adv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    margin-top: 64px;
    @include high-desktop {
      margin-top: 140px;
      gap: 20px;
      row-gap: 40px;
    }
    @include high-tablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &__adv-item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    grid-column: 3 span;

    &:not(:last-child) {
      padding-right: 16px;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    @include high-desktop {
      grid-column: 6 span;
      padding-bottom: 40px;

      &:not(:last-child) {
        padding-right: 0;
        border-right: none;
      }

      &::after {
        position: absolute;
        content: "";
        width: 200px;
        height: 1px;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    @include high-tablet {
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  &__adv-icon {
    width: 48px;
  }
  &__adv-title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    text-transform: uppercase;
    @include high-desktop {
      flex: 1;
    }
    @include high-tablet {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1.6px;
    }
  }
  &__adv-content {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
    margin: 0;
    flex: 1;
  }
  &__line {
    margin: 60px 0px 40px 0px;
    height: 1px;
    width: 100%;
    background-color: var(--gray2);
  }
  &__slider-content {
    max-width: 855px;
    margin: 0px auto 65px auto;

    text-align: center;
    font-size: 24px;
    line-height: 36px;

    @include small-tablet {
      font-size: 20px;
      line-height: 30px;
    }
  }
  &__slider {
    margin-bottom: 40px;
    @include high-tablet {
      overflow: visible !important;

      &._auto-mobile {
        .swiper-slide {
          width: 380px !important;
        }
      }
    }
    @media (max-width: 420px) {
      &._auto-mobile {
        .swiper-slide {
          width: 320px !important;
        }
      }
    }
    .swiper-slide {
      align-items: stretch;
    }
    .swiper-slide {
      display: flex !important;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: auto !important;
      &:not(:last-child) {
        border-right: 1px solid var(--white-01);
      }
    }

    .h5 {
      max-width: 280px;
    }
  }
  &__slide-icon {
    width: 80px;
  }
  &__slide-list {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.28px;
    text-align: start;
    padding: 0 24px;
    @include high-tablet {
      padding: 0 10px;
    }

    li {
      position: relative;
      padding-left: 24px;
      &::before {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px;
        background-color: currentColor;
        border-radius: 50%;
        left: 10px;
        top: 8px;
      }
    }
  }
}
