.result {
  &Block {
    padding-top: 60px;
    &:not(:last-child){
      padding-bottom: 40px;
      border-bottom: 1px solid var(--Gray2, #5C5C5C);
      @media(max-width: 991px){
        padding-bottom: 60px;
      }
    }
  }
}
.blog-resultBlock{
  @media(max-width: 991px){
    padding-bottom: 60px;
    border-bottom: 1px solid var(--Gray2, #5C5C5C);
  }
}